*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

label{
    color: #2D3142;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 600px;
    background-color: #D8D5DB;
    border-radius: 20px;    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.tittle{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 3px #2D3142 solid;
    display: flex;    
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    color: #2D3142;
}

.input {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 50px;
}

.input label{
    font-size: 20px;
    font-weight: 700;
    padding: 0px 10px;
}

.input input{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: 0;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #2D3142;
}

button {
    border: 2px solid #2D3142;
    font-size: 20px;
    padding: 10px;
    background: none;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
    color: #2D3142;
}

button:hover{
    border: 2px solid black;
    color: black;
}

.result {
    display: flex;
    margin-top: 20px;
    align-items: center;
    background-color: #2D3142;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    color: white;
    padding: 20px;
    user-select: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}